body{
  margin: 0;
}
.product-listing{
  padding: 1rem;
}
.cart-page{
  width: 500px;
  margin: auto;
}
.ant-card-cover{
  a{
    text-align: center;
  }
}
.ant-space-item{
  .ant-btn {
    width: 100%;
    text-align: center;
  }
}